<body>
  <div class="row">
    <p class='col-12'><%= @scientist.name %></p>
  </div>

  <p>Assigned to Lab: <%= @lab.name %></p><br/>

  <p>Specialty: <%= @scientist.specialty %></p>
  <p>University: <%= @scientist.university %></p>

  <div class="row">
    <p class='col-12'>Experiments</p>
  </div>

  <ul>
    <% if @scientist.experiments.exists? %>
        <% @scientist.experiments.each do |experiment| %>
            <p><li><%= experiment.name %>
            <%= button_to "Remove Experiment", lab_scientist_experiment_path(@lab), method: :delete, params: {scientist_id: @scientist.id, experiment_id: experiment.id} %></li></p>
        <% end %>
    <% else %>
        <p><li><%= @scientist.name %> is not conducting any experiments</li></p>
    <% end %>
  </ul>

</body>