<h1><%= @scientist.id %></h1>
<ul>
  <li>Name: <%= @scientist.name %></li>
  <li>Specialty: <%= @scientist.specialty %></li>
  <li>University: <%= @scientist.university %></li>
  <li>Lab: <%= @scientist.lab.name %></li>
  <li>Experiments: <%= @scientist.all_experiments %></li>
</ul>