<h3>Scientist Information</h3>

<p>
Name: <%= @scientist.name %> <br>
Specialty: <%= @scientist.specialty %> <br>
University: <%= @scientist.university %> <br>
Lab: <%= @lab.name %> <br>
</p>

Experiments: <% @scientist.experiments.each do |experiment| %>
  <%= experiment.name %>
<% end %>