<h1> Scientist Show Page </h1>
<section id="scientist-<%=@scientist.id%>">
<p><%= @scientist.name %></p>
<p><%= @scientist.specialty %></p>
<p> <%= @scientist.university %></p>

<%= @scientist.lab.name %>

<% @scientist.experiments.each do |experiment| %>
<%= experiment.name %>
<% end %>
</section>

<h1> Remove Experiment from Scientist_1</h1>
<% @scientists.experiments.each do |experiment| %>
<section id="scientist-<%=@scientist.id%>">
<p> <%= experiment.name%>
<p> <%= button_to "Remove", scientist_patient_path(@scientist,experiment), method: :delete %></p>
<section>
<% end %>
