<h1><%= @scientist.name %></h1>
<p>Specialty: <%= @scientist.specialty %><p>
<p>University: <%= @scientist.university %><p>
<p>Lab: <%= @scientist.lab.name %><p>
<ul class="experiment-list">Experiments: 
  <% @scientist.experiments.each do |experiment| %>
    <li id=<%= "#{experiment.id}" %>><%= experiment.name %> <%= button_to "Remove", scientist_experiment_path(@scientist.id, experiment.id), method: :delete %></li>
  <% end %>
</ul>


